@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mit-red: #A31F34;
  --mit-gray: #8A8B8C;
  --mit-dark: #1A1A1A;
}

body {
  font-family: 'Helvetica Neue', 'Apple SD Gothic Neo', sans-serif;
  color: var(--mit-dark);
}
